body {
    font-size: 1.5rem;
    color: #0f213a;
    background-color: whitesmoke;
    font-family: Verdana, sans-serif;
    padding-top: 15px;
    margin: auto;
}
.container {
    margin: auto;
    max-width: 1200px;
    background-color: #e7e7e7;
    text-align: center;
    border-radius: 8px 8px 8px 8px;
    border-color: black

}
.bar {
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    text-align: right;
}
.selection {
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.content {
    margin: auto;
}
#products {
    font-size: 1.1rem;
    padding: 0 25px 0 25px;
}
.container2 {
    display: flex;
    flex-direction: row;
    background-color: #e7e7e7;
}
#info {
    text-align: left;
    font-size: 1.2rem;
    padding: 150px 0 0 50px;
}
#map {
    max-width: 80%;
    padding: 100px 0 30px 10px;
}
footer {
    background-color: white;
    padding: 30px 0 30px 0;
    max-width: 1200px;
    margin: auto;
}